{% load static %}
{% load format_tags %}

<div class="product-card">
    <div class="product-carousel">
        {% if producto.imagenes.exists %}
            <img src="{{ producto.imagenes.first.imagen.url }}" class="product-img" alt="{{ producto.nombre }}" />
        {% else %}
            <img src="https://via.placeholder.com/400x300?text=Sin+Imagen" class="product-img" alt="{{ producto.nombre }}" />
        {% endif %}
    </div>
    <div class="product-info">
        <h3 class="product-name">{{ producto.nombre }}</h3>
        <p class="product-price">{{ producto.precio_venta|format_price }}</p>
        <p class="product-description">{{ producto.descripcion|truncatewords:10 }}</p>
        <button class="btn-green" data-producto-id="{{ producto.id_producto }}">Ver producto</button>
    </div>
</div>
