
    <header class="layout">
        <nav class="sidebar" id="sidebar" class="sidebar expanded">
            <h2>Bar galileo</h2>
            <ul class="menu">
                <li>
                    <button class="menu-btn" onclick="toggleMenu('productos-submenu')">
                        Productos
                    </button>
                    <ul id="productos-submenu" class="submenu hidden">
                        <li><a >Crear</a></li>
                        <li><a > Listar</a></li>
                    </ul>
                </li>
                 <li>
                    <button class="menu-btn" onclick="toggleMenu('mesas-submenu')">
                        Mesas
                    </button>
                    <ul id="mesas-submenu" class="submenu hidden">
                        <li><a >Crear</a></li>
                        <li><a > Listar</a></li>
                    </ul>
                </li>
                <li>
                    <button class="menu-btn" onclick="toggleMenu('usuarios-submenu')">
                        Usuarios
                    </button>
                    <ul id="usuarios-submenu" class="submenu hidden">
                        <li><a href="#">Crear</a></li>
                        <li><a href="#">Listar</a></li>
                    </ul>
                </li>
                <li>
                    <button class="menu-btn" onclick="toggleMenu('ajustes-submenu')">
                        Ajustes
                    </button>
                    <ul id="ajustes-submenu" class="submenu hidden">
                        <li><a >Crear</a></li>
                        <li><a > Listar</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
