<div class="notification-icon" id="notification-icon">
    <span>🔔</span>
    <span class="notification-badge" id="notification-badge">0</span>
    <div class="notifications-panel" id="notifications-panel">
        <div class="notification-header">
            <h4>Notificaciones</h4>
            <button id="mark-all-as-read">Marcar todas como leídas</button>
            
            <ul class="notification-list" id="notification-list">
            <!-- Las notificaciones se cargarán aquí -->
            </ul>
        </div>
    </div>
</div>