{% load static %}
{% load roles_tags %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-bar galileo</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon/favicon-96x96.png' %}">
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/main/admin/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/_components/notifications.css' %}">
    <link rel="stylesheet" href="{% static 'css/_components/simple_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/_components/_footer_admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard-loading.css' %}">
    <link rel="stylesheet" href="{% static 'css/table-mobile-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/tables/mobile_details.css' %}">
    <script src="{% static 'js/DataTables/jquery-3.7.1.min.js' %}"></script>
    <link href="{% static 'js/DataTables/datatables.css' %}" rel="stylesheet">

    <script src="{% static 'js/DataTables/datatables.js' %}"></script>

    {% block extra_css %}

    {% endblock %}

</head>

<body>
    {% include "components/notificaciones.html" %}
    {% include "components/nav-admin.html" %}

    <main class="main-content">
        <button class="toggle-sidebar-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="notification-icon" id="notification-icon">
            <span id="icono-notification" > <img width="50px" src=" {% static 'img/icons/notifications.svg' %} " alt=""> </span>
            <span class="notification-badge" id="notification-badge">0</span>
            <div class="notifications-panel" id="notifications-panel">
                <div class="notification-header">
                    <h4>Notificaciones</h4>
                    <button id="mark-all-as-read">Marcar todas como leídas</button>

                    <ul class="notification-list" id="notification-list">
                    <!-- Las notificaciones se cargarán aquí -->
                    </ul>
                </div>
            </div>
        </div>
        {% block content %}

        {% endblock %}


    </main>

    {% include "components/footer.html" %}

    <script src="{% static 'js/admin/nav_admin.js' %}"></script>
    <script src="{% static 'js/admin/notification_history.js' %}"></script>
    <script src="{% static 'js/admin/notification_button.js' %}"></script>
    <script src="{% static 'js/admin/home-navigation.js' %}"></script>
    <script src="{% static 'js/table-mobile-details.js' %}"></script>
    {% block extra_js %}{% endblock %}
    <script src="{% static 'accessibility/sienna.js' %}"></script>
    <script src="{% static 'accessibility/custom.js' %}"></script>
</body>

</html>
