{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Editar Categoría</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.nombre_categoria.label_tag }}
            {{ form.nombre_categoria }}
        </div>
        <div class="mb-3">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </div>
        <button type="submit" class="btn btn-success">Guardar cambios</button>
        <a href="{% url 'categorias' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
