{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="container-login">
        {% element h1 %}
            {% trans "Restablecer Contraseña" %}
        {% endelement %}
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% element p %}
            {% trans "¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico y te enviaremos un enlace para restablecerla." %}
        {% endelement %}
        {% url 'account_reset_password' as reset_url %}
        {% element form form=form method="post" action=reset_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans 'Restablecer Contraseña' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        {% element p %}
            <a href="{% url 'account_login' %}">Volver al inicio de sesión</a>
        {% endelement %}
        {% element p %}
            {% blocktrans %}Si tienes problemas para restablecer tu contraseña, contáctanos.{% endblocktrans %}
        {% endelement %}
    </div>
{% endblock content %}
