{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="container-login">
        {% element h1 %}
            {% trans "Contraseña Cambiada" %}
        {% endelement %}
        {% element p %}
            {% trans 'Tu contraseña ha sido cambiada exitosamente.' %}
        {% endelement %}
        {% element p %}
            <a href="{% url 'account_login' %}">Iniciar sesión con tu nueva contraseña</a>
        {% endelement %}
    </div>
{% endblock content %}
