{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
    <div class="container-login">
        {% element h1 %}
            {% trans "Correo Enviado" %}
        {% endelement %}
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        {% element p %}
            {% blocktrans %}Te hemos enviado un correo electrónico con las instrucciones para restablecer tu contraseña. Si no lo recibes, revisa tu carpeta de spam o contáctanos.{% endblocktrans %}
        {% endelement %}
        {% element p %}
            <a href="{% url 'account_login' %}">Volver al inicio de sesión</a>
        {% endelement %}
    </div>
{% endblock content %}
