{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="container-login">
        {% element h1 %}
            {% trans "Cambiar Contraseña" %}
        {% endelement %}
        {% element p %}
            {% trans "Para cambiar tu contraseña, ingresa tu contraseña actual y luego tu nueva contraseña." %}
        {% endelement %}
        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Cambiar Contraseña" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        
        <div class="nav-links">
            <a href="{% url 'account_reset_password' %}">¿Olvidaste tu contraseña?</a>
            <a href="{% url 'core:index' %}">Volver al inicio</a>
        </div>
    </div>
{% endblock content %}
