.search-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
    gap: 15px;
}

.field-group{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.buttons-group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
}

.actions-cell{
  display: flex;
  justify-content: center;
  gap: 10px;
}


.actions-cell{
  display: flex;
  flex-direction: column;
  align-items: center;
}

