
{% extends 'base_admin.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{% if form.instance.pk %}Editar Gasto{% else %}Registrar Gasto{% endif %}</h6>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
