{% extends 'base_admin.html' %}
{% block content %}
<h1>{% if object %}Editar{% else %}Registrar{% endif %} Pago</h1>

{% if empleado %}
  <a href="{% url 'nominas:empleado_detail' empleado.id %}" class="btn btn-secondary">Volver</a>
{% else %}
  <a href="{% url 'nominas:pago_list' %}" class="btn btn-secondary">Volver</a>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-actions mt-3">
        <button type="submit" class="btn btn-primary">{% if object %}Actualizar{% else %}Registrar{% endif %} Pago</button>
    </div>
</form>
{% endblock %}