/* Colores principales para el e-commerce Vive Natural */
:root {
  --color-primary: #62733d;
  --color-secondary: #a68932;
  --color-dark: #bf452a;
  --color-light: #262626;
  --color-accent: #0d0d0d;
  --color-gray: #a68932;
  --color-shadow: #62733d;
}
